
/* Infrastructure */
* {
    box-sizing: border-box
}

.container {
    position: relative;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    font-size: 1.8rem
}

.content {
    width: calc(100% - 5rem);
    margin: auto;
    overflow: hidden
}

@media (min-width:420px) {
    .container {
        width: 90%;
        padding: 0
    }
}



/* Body Elements  */
body {
    margin: 0;
    line-height: 1.6;
    font-family: monospace;
    color: var(--fg);
    background-color: var(--bg)
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: sans-serif;
    color: var(--h)
}

a {
    color: var(--p)
}

a:hover,
.btn:hover,
input[type=submit]:hover {
    opacity: .8;
    cursor: pointer
}

/* Input */
input,
textarea,
select,
pre>*,
.btn {
    border: 0;
    white-space: nowrap;
    font-style: normal;
    font-size: 85%;
    font-family: monospace;
    display: inline;
    padding: 1rem;
    margin: .5rem;
    max-width: 100%;
    color: var(--fg);
    background-color: var(--def);
    text-decoration: none
}

textarea {
    height: 15rem;
    white-space: pre-wrap
}

.logo {
    text-align: right;
}