{% extends 'base.html' %}

{% load gravatar %}
{% block content %}

<h2 class="username-title">{{user}}</h2>
<h2> Your snippets: </h2>
{% for snippet in user.snippets_authored.all %}

<div class="snippet-card">
    <img src="https://secure.gravatar.com/avatar/hash.jpg?size=150" width="150" height="150" alt="user@example.com" />
    <h3 class="snippet-title">Title of your snippet:</h3>
        {{snippet}}
    <h3 class="snippet-language">Language:</h3>
        {{snippet.language}}
    <h3 class="snippet-description">Contents of your snippet:</h3>
       {{snippet.description}}
        <pre>
            <code class="language-{{snippet.language}}">
            {{snippet.script}}
            </code>
        </pre>
        {% if snippet.user != request.user or request.user.is_superuser %}
        <a href="{% url 'save-snippet' pk=snippet.pk %}">Add Snippet to My Library</a>
        {% elif snippet.user == request.user or request.user.is_superuser %}
        <a href="{% url 'edit-snippet' pk=snippet.pk %}">Edit Snippet</a>
        <a href="{% url 'delete-snippet' pk=snippet.pk %}">Delete Snippet</a>
        {% endif %}
        <div class="snippet-user">Author: {{snippet.user}}</div>
</div>



{% endfor %}
{% endblock %}